* {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-title {
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.5em;
  background-color: #689f38;
  color: #ffffff;
}
h1 {
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0.5em;
  background: #cddc39;
  color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

body {
  top: 100px;
  height: auto;
  margin: 0;
  display: grid;
  place-items: center;

  font: 2vw "Merienda", cursive;
  background-color: rgba(172, 184, 17, 0.815);
  color: rgb(255, 255, 255);
}
